article.template
  h3
    a(href='/templates/'+template._id, title=template.title) #{template.title.slice(0, 140)}
  p= template.body.slice(0, 400)

  .meta
    span.text-muted= formatDate(template.createdAt)

    - if (template.user)
      | &nbsp; - &nbsp;
      span Author &nbsp;

      - var name = template.user.name ? template.user.name : template.user.username

      a(href="/users/"+template.user._id)= name

    - if (template.tags)
      | &nbsp; - &nbsp;
      span Tags &nbsp;
      each tag in template.tags.split(',').slice(0, 10)
        i.text-muted.fa.fa-tag &nbsp;
        a.tag(href="/tags/"+tag)= tag
        | &nbsp;&nbsp;
