extends ../layouts/default

block main
  h1= pet.name.slice(0, 150)

block content
  .row
    .col-md-8
      //- p=pet.specialization.slice(0, 100)
      .meta
        - if (pet.user)
          - var name = pet.user.name ? pet.user.name : pet.user.username
          p Author :&nbsp;
            a(href="/users/"+pet.user._id)= name

        p.text-muted= formatDate(pet.createdAt, "%b %d, %Y at %I:%M %p")

    .col-md-4
      - if (!pet.isNew && pet.image && pet.image.files && pet.image.files.length)
        img(src=pet.image.cdnUri + '/mini_' + pet.image.files[0])

  form(action="/pets/"+pet.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value=csrf_token)
    a.btn.btn-outline-primary(href='/pets/'+pet._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-link.text-danger(type="submit") Delete

  p
  //- - if (pet.surveys.length)
  - if (pet.surveys)
    each survey, index in pet.surveys
      div(class=`py-4 ${index && 'border-top'}`)
        include ../surveys/survey
  - else
    h4.text-muted No surveys.&nbsp;
      a(href="/surveys/new") create one
