extends ../layouts/default

block main
  h1= appointment.name.slice(0, 400)

block content
  .row
    .col-md-8
      p=appointment.doctor.slice(0, 1000)
      .meta
        - if (appointment.user)
          - var name = appointment.user.name ? appointment.user.name : appointment.user.username
          p Author :&nbsp;
            a(href="/users/"+appointment.user._id)= name

        - if (appointment.tags)
          p Tags &nbsp;
            each tag in appointment.tags.split(',').slice(0, 10)
              i.text-muted.fa.fa-tag &nbsp;
              a.tag(href="/tags/"+tag)= tag
              | &nbsp;&nbsp;

        p.text-muted= formatDate(appointment.createdAt, "%b %d, %Y at %I:%M %p")

    .col-md-4
      - if (!appointment.isNew && appointment.image && appointment.image.files && appointment.image.files.length)
        img(src=appointment.image.cdnUri + '/mini_' + appointment.image.files[0])

  form(action="/appointments/"+appointment.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value=csrf_token)
    a.btn.btn-outline-primary(href='/appointments/'+appointment._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-link.text-danger(type="submit") Delete

  br
  h3 Comments
  each comment, index in appointment.comments
    div(class=`py-3 ${index && 'border-top'}`)
      include ../comments/comment
  include ../comments/form
